body {
  background: url(../rsc/fondo.jpg);
  font-family: Questrial;
  color: whitesmoke;
}

main {
  margin: 5% 5% 5% 5%;
  border-color: whitesmoke;
  border-top-width: 2px;
}

#titulo {
  display: flex;
  justify-content: center;
  margin: 8% 0% 5% 0%;
}

#cielo {
  display: flex;
  justify-content: center;
}

#cielo img {
  width: 35%;
}

#fecha {
  display: flex;
  justify-content: center;
  margin: 3% 0% 0% 0%;
}

#ded {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3% 0% 0% 0%;
}

#ded p {
  font-size: 2rem;
  text-align: center;
}

#ded h2 {
  font-size: 3.2rem;
  margin-top: 1%;
}

#frase {
  display: flex;
  justify-content: center;
  margin: 15% 0% 0% 0%;
}

#frase p {
  font-size: 2rem;
}

#spotify {
  display: flex;
  justify-content: center;
}

#tit-text {
  display: flex;
  justify-content: center;
  margin: 15% 0% 0% 0%;
}

#textos-cont {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "texto1 texto2";
  margin: 2% 0% 0% 5%;
}

#texto1 {
  grid-area: texto1;
  margin-right: 5%;
}
#texto2 {
  grid-area: texto2;
  margin-left: 5%;
}

#foto {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "nosotros pie";
  margin: 8% 0% 0% 5%;
}

#nosotros {
  grid-area: nosotros;
  display: flex;
  justify-content: center;
}

#nosotros img {
  width: 40%;
  margin-right: 10%;
}

#pie-foto {
  grid-area: pie;
  display: flex;
  justify-content: center;
}

#pie-foto p {
  font-size: 2rem;
  width: 50%;
}

#galeria {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#galeria img {
  width: 30%;
}

.secciones {
  display: flex;
  justify-content: center;
}

#final {
  display: flex;
  justify-content: center;
  margin: 0%;
}

#final h2 {
  font-size: 3rem;
}

@media only screen and (max-width: 768px) {
  #titulo h1 {
    text-align: center;
    font-size: 1.5rem;
  }

  #cielo img {
    width: 100%;
  }

  #fecha {
    text-align: center;
    font-size: 0.7rem;
  }

  #ded {
    margin-top: 33%;
  }

  #ded p {
    font-size: 1rem;
  }

  #ded h2 {
    text-align: center;
    font-size: 1.3rem;
  }

  #frase p {
    text-align: center;
    font-size: 1.4rem;
  }

  #spotify img {
    width: 100%;
  }

  #textos-cont {
    display: flex;
    flex-direction: column;
    margin: 0%;
  }

  #tit-text h2 {
    text-align: center;
  }

  #texto1 {
    margin: 0%;
  }

  #texto2 {
    margin: 0%;
  }

  #foto {
    display: flex;
    flex-direction: column;
    margin: 0%;
  }

  #foto img {
    width: 100%;
    margin: 0%;
  }

  #pie-foto p {
    text-align: center;
    font-size: 1rem;
    width: 100%;
  }

  #galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #galeria img {
    width: 50%;
  }

  .secciones {
    display: flex;
    justify-content: center;
  }

  #final h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0%;
  }
}
